[submodule "vault"]
	path = vault
	url = git@github.com:TanzimHossainSafin/Vault_Programme.git
[submodule "Escrow_Program"]
	path = Escrow_Program
	url = git@github.com:TanzimHossainSafin/Escrow_Program.git
[submodule "NFT_marketPlace_submodule"]
	path = NFT_marketPlace_submodule
	url = git@github.com:TanzimHossainSafin/NFT_marketPlace.git
[submodule "capstone"]
	path = capstone
	url = git@github.com:TanzimHossainSafin/Capstone.git
